@import './vars.css';


body{
    background-color: var(--body-color);
}

label
{
    font-family: var(--font-family);
    color: var(--main-color);
}

input{
    border-radius: 10px;
    background-color: var(--main-color);
    border-color: var(--light-red);
    border-width: 1px;
    border-style: solid;
    color: var(--bright-white);
    font-family: var(--font-family);
    width: 40%;
    height: 3vh;
}

input::placeholder
{
    color: gray;
    padding-left: 2%;
    font-family: var(--font-family);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--main-color) inset !important; /* Change the color to whatever you prefer */
    -webkit-text-fill-color: var(--bright-white) !important; /* Change the text color to contrast with the background */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-shrink: 2;
}
.sign-in{
    min-width: 350px;
    min-height: 500px;
    width: 30vw;
    height: 60vh;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 50px;
}
.sub-title{
    font-family: var(--font-family);
    color: var(--bright-white);
}

.form-group{
    margin-bottom: 20px;
}
.submit-button{
    display: inline-block;
    width: 20%;
    height: 60%;
    border-radius: 10px;
    border-style: none;
    background-color: var(--light-red);
    color: var(--bright-white);
    font-family: var(--font-family);
    width: 40%;
    height: 3vh;
}
.log-in-footer{
    color: var(--bright-white);
    font-family: var(--font-family);
}
#log-in-link{
    color: var(--bright-white);
    font-weight: 600;
    text-decoration-line: none;
}
#log-in-link:visited{
    color: var(--bright-white);
    font-weight: 600;
    text-decoration-line: none;
}
#log-in-error{
    color: var(--light-red);
    font-family: var(--font-family);
    visibility: visible;
}