@import './vars.css';

body{
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    background-image: url('../img/first.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    font: var(--font-family);
}

.quiz-question{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    gap: 1rem;
    margin: auto;
    margin-top: 15vh;
    padding: 1.25rem;
    max-width: 55vw;
    min-height: 40vh;
    min-width: 22vw;
    border-radius: 0.75rem;
    border: 2px solid var(--main-color);
}

.title-text{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.75vw;
    text-align: left;
}

  


.answers{
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 2px solid --accent-color;
    gap: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}


.answer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.option-text{
    font-size: 1.5rem;
    color: var(--accent-color);
    padding-left: 0.2rem;
    font-family:  var(--font-family);
}

.checkbox-wrapper *,
.checkbox-wrapper *::before,
.checkbox-wrapper *::after {
    box-sizing: border-box;
}

.checkbox-wrapper label {
    width: 100%;
    height: 3rem;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.checkbox-wrapper input {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper input:checked ~ .checkbox {
   transform: rotate(35deg);
   width: 16px;
   margin-left: 12px;
   border-color: var(--secondary-color);
   border-top-color: transparent;
   border-left-color: transparent;
   border-radius: 0;
   height: 30px;
}

.checkbox-wrapper .checkbox {
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
}


.quiz-index{
    align-self: flex-end;
    margin: 0;
    color: var(--accent-color);
    font-size: 1.2rem;
}

progress{
    max-width: 10vw;
    font-family: var(--font-family);
}

.btn-container{
    align-self: flex-end;
    display: flex;
    gap: 1rem;
}

.next-btn{
    font-family: var(--font-family);
    color: var(--accent-color);
    background-color: var(--secondary-color);
}
.export-btn{
    font-family: var(--font-family);
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

.next-btn, .export-btn{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s;
}

.next-btn:hover {
    background-color: var(--secondary-color);
    opacity: 0.9;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}
.export-btn:hover{
    background-color: var(--accent-color);
    opacity: 0.9;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}
@media screen and (max-width: 950px){
    .title-text{
        font-size: 3.5vw;
    }
    .option-text{
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px){
    .title-text{
        font-size: 6vw;
    }
    .option-text{
        font-size: 0.75rem;
    }
    .btn-container{
        align-self: center;
        flex-direction: column;
    }
    .quiz-index{
        display: flex;
        align-self: center;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}
