@import './vars.css';

body{
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    background-image: url('../img/first.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

*{
    font: var(--font-family);
}

.quiz-question{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    gap: 2rem;
    margin: auto;
    margin-top: 15vh;
    padding: 1.25rem;
    max-width: 55vw;
    min-height: 40vh;
    min-width: 22vw;
    border-radius: 0.75rem;
    border: 2px solid var(--main-color);
}

.title-text{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.75vw;
    text-align: left;
    margin-bottom: 0;
}



.input-form p {
    padding: 0;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--accent-color);
}

.input-text-field{
    padding: 0.25rem;
    width: 30vw;
    resize: vertical;
    transition: width 0.2s;
}

.input-text-field:focus{
    width: 45vw;
}

.quiz-index{
    align-self: flex-end;
    margin: 0;
    color: var(--accent-color);
    font-size: 1.2rem;
}

progress{
    max-width: 10vw;
    font-family: var(--font-family);
}

.btn-container{
    align-self: flex-end;
    display: flex;
    gap: 1rem;
}

.next-btn{
    font-family: var(--font-family);
    color: var(--accent-color);
    background-color: var(--secondary-color);
}
.export-btn{
    font-family: var(--font-family);
    color: var(--secondary-color);
    background-color: var(--accent-color);
}

.next-btn, .export-btn{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s;
}

.next-btn:hover {
    background-color: var(--secondary-color);
    opacity: 0.9;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}
.export-btn:hover{
    background-color: var(--accent-color);
    opacity: 0.9;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}
@media screen and (max-width: 950px){
    .title-text{
        font-size: 3.5vw;
    }
    .option-text{
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px){
    .title-text{
        font-size: 6vw;
    }
    .option-text{
        font-size: 0.75rem;
    }
    .btn-container{
        align-self: flex-start;
        flex-direction: column;
    }
    .quiz-index{
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
}
