/* In acest fisier stocam variabilele pentru font-uri, culori, ... */
/* ca sa nu le redefinim in fiecare fisier separat */


:root {
    /* Procentaj culori in aplicatie: 
    body si main: 60%; secondary: 30%; third:10% */
    --body-color:rgba(37, 39, 62, 0.95);
    --main-color: rgb(37, 39, 62);
    --light-red: rgb(239, 58, 86); 
    --bright-white: rgb(255, 243, 244);
    --normal-green: #2ea44f;
    --light-blue: #D4E3FF;
    --light-green: #9FFFBC;

    /* A se utiliza fonturi sans-serif pentru web */
    --font-family: sans-serif;
} 

body{
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    background-image: url('../img/first.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
