@import './vars.css';

label{
    color: var(--secondary-color-container);
    font-family: var(--font-family);
}
option{
    color: var(--main-color);
    font-family: var(--font-family);
}


.difficulty-container {
    display: inline-block;
    margin-top: 2vh;
    margin-left: 2vw;
    overflow: hidden;
    border-radius: 5px;
}
.difficulty-container input[type="radio"] {
    display: none; 
}

.difficulty-container label {
    display: inline-block;
    background-color: var(--secondary-color-container);
    color: var(--main-color-container);
    padding: 1vh 1vw;
    font-weight: 600;
    cursor: pointer;
    font-family: var(--font-family);
}

.difficulty-container label:last-child {
    border-right: none;
}

.difficulty-container input[type="radio"]:checked + label {
    background-color: var(--main-color);
    color: var(--secondary-color-container);
}
#left-form{
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    justify-content: left;
    margin-left: 2vw;
}
#subtitle{
    color: var(--secondary-color-container);
    font-weight: bold;
    font-size: 1.2rem;
}
.content-form{
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    justify-content: left;
    margin-left: 2vw;
    padding-top: 2vh;
}

#submit-button, #update-button{
    background-color: var(--main-color);
    padding: 1rem;
    font-size: 1rem;
    color: var(--secondary-color-container);
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
    font-family: var(--font-family);
}

#submit-button:hover, #update-button:hover {
    cursor: pointer;
    background-color: var(--secondary-color-container);
    opacity: 0.9;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
    color: var(--main-color);
}
#title{
    font-weight: bold;
    font-size: 1.2rem;
}
#import-button{
    background-color: var(--secondary-color-container);
    padding: 1rem;
    font-size: 1rem;
    color: var(--main-color);
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
    font-family: var(--font-family);
}

#import-button:hover {
    cursor: pointer;
    background-color: var(--main-color);
    opacity: 0.9;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
    color: var(--secondary-color-container);
}
#category{
    width: 15vmax;
    border-radius: 10px;
    background-color: var(--secondary-color-container);
}

#quizz-question{
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    border-width: 1px;
    background-color: var(--secondary-color-container);
    border-style: solid;
    padding-left: 1vw;
    color: var(--main-color-container);
    font-style: var(--font-family);
    font-size: larger;
}


#answer-area, #description-area, #hint-area{
    resize: none;
    width: 50vw;
    height: 7vh;
    border-radius: 10px;
    border-width: 1px;
    background-color: var(--secondary-color-container);
    border-style: solid;
    padding-left: 1vw;
    color: var(--main-color-container);
    font-style: var(--font-family);
    font-size: larger;
}

#import-quizz-link{
    color: var(--accent-color);
    font-weight: 600;
    text-decoration-line: none;
    margin-left: 2vw;
    padding-top: 2vh;
}
#import-quizz-link:visited{
    color: var(--accent-color);
    font-weight: 600;
    text-decoration-line: none;
}
#success-message{
    color: var(--secondary-color);
    font-family: var(--font-family);
    visibility: visible;
}
#error-message{
    margin-left: 2vw;
    padding-top: 2vh;
    font-weight: 600;
    color: var(--main-color);
    font-family: var(--font-family);
    visibility: visible;
}
@media (max-width: 1000px) {
    #category{
        width: 60vw;
    }
}