@import './vars.css';


body{
    background-color: var(--body-color);
    /* background: linear-gradient(135deg, #c0c0aa, #1cefff); */
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
}

.container{
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
    /* background-color: var(--body-color); */
    margin: 0 auto;
    border-radius: 2rem;
    width: 60%;
    height: 70vh;
    display: flex;
    align-items: center;
}

.main-title{
    font-size: 2rem;
    color: var(--accent-color);
    font-weight: bold;
    text-decoration:underline;
    text-shadow: 2px 2px rgba(194, 98, 9, 0.5);
}

.logo-img{
    max-width: 75%;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.form-fields{
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.form-group{
    background: var(--field-color);
    display: flex;
    align-items: center;
    gap: 3px;
    padding: .3rem .5rem;
    border-radius: 1rem;
}

.form-group input{
    background: inherit;
    border: none;
    outline: none;
    padding: .25rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: .9rem;
}

.submit-button{
    background-color: var(--success-color);
    color: var(--accent-color);
    padding: .5rem;
    border: none;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.submit-button:hover{
    color: var(--success-color);
    background: var(--accent-color);
    transition: .8s;
}

.bottom-link{
    text-decoration: none;
    color: var(--body-color);
    font-weight: 700;
    font-size: .9rem;
    cursor: pointer;
}

.bottom-link:hover{
    color: lightblue;
    transition: .3s;
}