* {
    box-sizing: border-box;
  }
  body, html {
    margin: 0;
    padding: 0;
  }
  .button-container {
    display: flex;
    background-color: var(--main-color);
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
                rgba(0, 73, 144, 0.5) 5px 10px 15px;
  }
    
    .button {
      outline: 0 !important;
      border: 0 !important;
      width: 3vw;
      height: 3vh;
      border-radius: 50%;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--accent-color);
      cursor: pointer;
      transition: width 0.3s, height 0.3s;  
    }
      
    .button:hover {
      transform: translateY(-3px);
      color: var(--secondary-color);
    }
    
    .icon {
      font-size: 20px;
    }
    
    
    /* mobile devices */
    @media (max-width: 600px) {
      .button {
        width: 8vw;
        height: 8vh;
      }
    }
    
    /* tablets */
    @media (min-width: 601px) and (max-width: 1024px) {
      .button {
        width: 5vw;
        height: 5vh;
      }
    }
    
   
