@import './vars.css';

body {
    font-family: var(--font-family);
    background-color: var(--main-color-container);
    background-image: none;
    color: var(--accent-color);

}
#whole-container{
    background-color: var(--main-color-container);
    width: 100%;
    height: 100%;
 
}

#table-container {
    width: 90vw;
    margin: auto;
    background-color: var(--main-color-container);
}

table {
    width: 100%;
    border-style: none;
    border-collapse: collapse;
}

th:last-child, td:last-child {
    width: 15%; /* Adjust as needed */
    text-align: end;
}
td:first-child {
    width: 10%; /* Adjust as needed */
    text-align: end;
}
tbody tr:nth-child(even) {
    background-color: var(--main-color);
}

th, td {
    height: 5vh;
    border-style: none;
    text-align: left;
}

th {
    font-weight: 700;
}

.status-field {
    padding: auto;
    text-align: start;

}
.move-left{
    margin-right: 7vw;
}

.Medium {
    color: gold;
}

.Easy {
    color: rgb(0, 182, 0);
}

.Hard {
    color: red;
}

a{
    text-decoration: none;
    color: var(--accent-color);
}
a:hover{
    color: var(--secondary-color);
}
#pagination{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem; 
    margin-bottom: 1rem;
}
#pagination button{
    color: var(--accent-color);
    border-style: none;
}
.disabled {
    cursor: default;
  }
.enabled{
    background-color: var(--main-color);
    cursor: pointer;
}

#dropdowns {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem; 
    margin-bottom: 1rem;
}
#dropdowns select{
    background-color: var(--main-color);
    color: var(--accent-color);
    border-style: none;
}
#search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-bar{
    width: 20rem;
    background-color: var(--main-color);
    border-style: none;
    color: var(--accent-color);
}
#page-numbers{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem; 
    margin-bottom: 1rem;
}
#page-numbers p{
    color: var(--accent-color);
}