body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    margin-inline: 0;
    margin-block: 0;
}

* {
    font: var(--font-family);
}

.whole-container {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    overflow-y: auto;
    display: flex;
    /* background: #005AA7;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, #FFFDE4, #005AA7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+             */
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.left-container {
    width: 35%;
    border-right: 4px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
    overflow-y: auto;
}

.question-side {
    color: var(--main-color);
    padding: .75rem;
    min-height: calc(70% - 1.5rem);
    background-color: var(--secondary-color-container);
    border-radius: .25rem;
    border: 2px solid var(--main-color);
    margin: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.difficulty, .category{
    font-size: 1.2rem;
    font-weight: bold;
}

.question-side-bottom{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.question-content {
    font-weight: bold;
    font-size: 1.2rem;
}

.table-description {
    margin: 0;
    border-left: 2px solid var(--main-color);
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
}

#table-description-content {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}



.button-submit {
    margin: 0 1rem ;
    --b: 3px; 
    --s: .45em;
    --color: white;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
  
    border: 0;
    font-size: 1.15rem;
    letter-spacing: 1px;
    font-weight: bolder;
    border-radius: 1rem;
    font-family: var(--font-family);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}
  
.button-submit:hover,
.button-submit:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-submit:active {
    background: var(--color);
    color: #fff;
}

.button-submit.disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.5;
}



.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  margin: 0 1.2rem;
}

.button-41:hover {
  background: #00bd68;
}


.question-index {
    font-size: 1.4rem;
    margin: 0;
    color: var(--secondary-color-container);
}

.sharp-number {
    font-weight: bold;
    color: var(--accent-color);
}

.votes {
    display: flex;
    gap: .75rem;
    color: white;
}

.thumbs-up.clicked{
    color: rgb(0, 243, 0);
}
.thumbs-down.clicked {
    color: red;
}

.votes .thumbs-up:hover {
    color: rgb(0, 243, 0); /* Note: This specific hover color is unchanged */
    cursor: pointer;
    transition: .4s;
}

.votes .thumbs-down:hover {
    color: red; /* Note: This specific hover color is unchanged */
    cursor: pointer;
    transition: .4s;
}

.votes * {
    font-size: larger;
}

.top-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.right-container {
    width: 65%;
    border-left: 4px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.CodeMirror {
    border-radius: .5rem;
    font-family: 'Source Code Pro', monospace;
    padding: .25rem;
    margin: 0 1.2rem;
    color: white;
    font-size: 1rem;
}

.mini-title {
    font-weight: bold;
    font-size: 1.75rem;
    text-decoration: underline;
    letter-spacing: 1px;
}



.helpers{
    display: flex;
    align-items: center;
    gap: 1rem;   
}

.helpers-icon {
    font-size: x-large;
    cursor: pointer;
    color: white;
}

.score{
    font-weight: bold;
    color: var(--accent-color);
    font-size: 1.25rem;
    font-family:'Courier New', Courier, monospace;
}

.score-value{
    color: lawngreen;
}

.helpers-tipbox{
    position: relative;
    display: inline-block;
}

.scoretip{
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    white-space: nowrap;
}

.helpers-icon:hover + .scoretip{
    display: block;
    /* Positioning */
    top: calc(100% + 5px); /* Place below the icon */
    left: calc(50% - 3rem); /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.db-engine {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.25rem;
    color: var(--accent-color);
    margin: 0 1.2rem;
}

.engine-description{
    display: flex;
    gap: 1rem;
    align-items: center;

}

.db-engine-title {
    letter-spacing: .5px;
    font-weight: 700;
}

.db-engine-value {
    font-size: 1.2rem;
    font-weight: 800;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: .5rem;
    letter-spacing: 1px;
    color: var(--accent-color);
}

.status{
    font-weight: bold;
    font-style: oblique;
    color: violet;
}

.run-button-wrapper{
    display: flex;
}

.run-button {
    display: flex;
    align-items: center;
    gap: .75rem;
    border-radius: 2rem;
}

.run-button .builder {
    font: 2rem;
}

.run-button .hint-icon{
    font-size: larger;
}

.modify-color{
    background: #5f2c82;
    background: -webkit-linear-gradient(to bottom, #49a09d, #5f2c82);
    background: linear-gradient(to bottom, #49a09d, #5f2c82); 
}

.modify-color:hover{
    background: #5f2c82;
}

.console {
    border: 2px solid gray;
    border-radius: 1rem;
    max-height: 15vh;
    background-color: var(--accent-color);
    padding: .5rem;
    overflow-y: auto;
    color: var(--main-color);
    font-weight: 600;
    margin: 1.2rem;
    height: 20%;
}

.console p{
    font-size: 1rem;
    padding: .4rem;
    font-family: 'Source Code Pro', monospace;
}

.top-side {
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    margin-right: 1.2rem;
}

.question-status{
    justify-self: flex-end;
}

.only-submit {
    margin-bottom: 1.2rem;
}

*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}



.console{
    border: 2px solid gray;
    border-radius: 1rem;
    max-height: 15vh;
    background-color: white;
    padding: .5rem;
    overflow-y: auto;
    color: var(--body-color);
    font-weight: 600;
    font-size: .9rem;
    margin: 1.2rem;
}

.top-side{
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    margin-right: 1.2rem;
}


.only-submit{
    margin-bottom: 1.2rem;
}



*::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}


.comment-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Adjust as per your design */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.comment-input {
    flex: 1; /* Takes up remaining space */
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    background-color: transparent; /* Transparent background */
}

.comment-submit {
    background-color: #007bff; /* Button background color */
    color: white;
    border: none;
    outline: none;
    padding: 8px 16px;
    margin-left: 8px; /* Space between input and button */
    border-radius: 4px;
    cursor: pointer;
}

.comment-submit:hover {
    background-color: #0056b3; /* Button hover color */
}

.comment-form{
    margin: 0 1.2rem;
}

.comments-container{
    margin: 0 1.2rem;
}

.comment{
    width: 100%;
    padding: .75rem;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    border: 3px solid white;
    border-radius: 1rem;
    margin-bottom: .2rem;
}

.comment-bottom{
    display: flex;
    justify-content: space-between;
}

.comment-content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.comment-user{
    display: flex;
    color: #007bff;
    font-weight: 800;
    gap: .25rem;
}

.comment-date{
    font-weight: bold;
    color: lightgreen;
}

@media (max-width: 1000px) {
    .whole-container {
        flex-direction: column;
    }
    .left-container, .right-container {
        border-bottom: 4px solid var(--main-color);
        border-left: 0px;
        border-right: 0px;
        width: 100vw;
        height: 100%;
        overflow-y: auto;
    }
    .question-side{
        min-height: calc(65% - 0.5rem);
    }
    .console, .CodeMirror{
        min-height: 5rem;
    }
    
}
@media (max-width: 500px) {
    .whole-container {
        flex-direction: column;
    }
    .left-container, .right-container {
        border-bottom: 4px solid var(--main-color);
        border-left: 0px;
        border-right: 0px;
        width: 100vw;
        height: 400vh;
    }
    .db-engine, .top-side{
        flex-direction: column;
    }
    .comment-container{
        flex-direction: column;
        align-items: flex-start;
    }
}


@media (max-width: 680px){
    .whole-container{
        flex-direction: column;
    }
    .left-container, .right-container{
        width: 100vw;
    }
}