@import './vars.css';


body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1, h2{
    margin: 0;
}


.main-wrapper{
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--accent-color);
    font-size: 2rem;
    gap: 5rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btns-wrapper{
    display: flex;
    gap: 2.5rem;
}

.sharp-number{
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    letter-spacing: 1px;
}

.green-color{
    color: greenyellow;
}

.red-color{
    color: red;
}




/* CSS */
.finish-btn {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  color: var(--accent-color);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}

.finish-btn:active,
.finish-btn:focus {
  outline: none;
}

.finish-btn:hover {
  background-position: -20px -20px;
}

.finish-btn:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

@media (max-width: 500px){
    .main-wrapper{
        font-size: 1rem;
        gap: 2rem;
    }
    .btns-wrapper{
        flex-direction: column;
        gap: 1rem;
    }
}