/* In acest fisier stocam variabilele pentru font-uri, culori, ... */
/* ca sa nu le redefinim in fiecare fisier separat */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    /* Procentaj culori in aplicatie: 
    body si main: 60%; secondary: 30%; third:10% */
    --body-color:rgba(37, 39, 62, 0.95);
    --main-color: rgb(37, 39, 62);
    --secondary-color: rgb(5, 127, 218);
    --accent-color: rgb(255, 243, 244);
    --field-color: rgb(208, 214, 209);
    --button-color: rgb(174, 92, 189);
    
    /* A se utiliza fonturi sans-serif pentru web */
    --font-family: sans-serif;

} 

body{
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.formatted-description {
    white-space: pre-wrap;
}