<!-- Author: Stefan -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css" type="text/css">
    <link rel="stylesheet" href="../css/createQuery.css" type="text/css">
    <title>CreateQuery</title>
</head>
<body>
    <header>
        <nav id="navigation-bar">
            <div class="navigation-button-div"><a class="navigation-button" href="/">Home</a></div>
            <div class="navigation-button-div"><a class="navigation-button" href="quizz">Quizz</a></div>
            <div class="navigation-button-div"><a class="navigation-button" href="dashboard">Dashboard</a></div>
        </nav>
        <h1>Create your quizz</h1>
    </header>
    <main>
        <form class="create-quiz-container" action="https://httpbin.org/get" method="get">
            <div id="left-form">
                <label for="category">Category</label>
                <select name="category" id="category" required multiple>
                    <option value="SELECT">SELECT</option>
                    <option value="JOIN">JOIN</option>
                    <option value="ORDER">ORDER</option>
                    <option value="TRIM">TRIM</option>
                    <option value="DATE">DATE</option>
                </select>
            </div>
            <div class="difficulty-container">
                <input type="radio" id="easy" name="difficulty" value="easy" required>
                <label for="easy">Easy</label>
                
                <input type="radio" id="medium" name="difficulty" value="medium">
                <label for="medium">Medium</label>
                
                <input type="radio" id="hard" name="difficulty" value="hard">
                <label for="hard">Hard</label>
            </div>
            <div id="centered-form">
                <p><input id="quizz-question" type="text" name="quizz-question" placeholder="Question" required maxlength="150"></p>
                <p><textarea id="answer-area" name="answer-area" required placeholder="Answer"></textarea></p>   
                <p>
                    <input type="file" id="input-json" accept=".json" style="display: none;">
                    <button id="import-button" type="button" onclick="document.getElementById('input-json').click()">Import</button>
                    <button id="submit-button" type="submit">Submit</button>
                </p>
                <a id="import-quizz-link" href="importQuizz" target="_blank">Example of import format</a>
            </div>
        </form>
    </main>
    <script src="../js/importQuestion.js"></script>
</body>
</html>