<!-- Author: Razvan -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css" type="text/css">
    <link rel="stylesheet" href="../css/dashboard.css" type="text/css">
    <link rel="icon" href="../img/database.png" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav id="navigation-bar">
            <div class="navigation-button-div"><a class="navigation-button" href="./index.html">Home</a></div>
            <div class="navigation-button-div"><a class="navigation-button" href="./createSqlQuery.html">Create Query</a></div>
            <div class="navigation-button-div"><a class="navigation-button" href="./quizz.html">Quiz</a></div>
        </nav>
    </header>
    <div class="dashboard-container">
        <div class="dashboard-content">
            <nav class="dashboard-navbar">
                <div class="dashboard-navbar-link">
                    <p class="link-text">Teste</p>
                </div>
                <div class="dashboard-navbar-link">
                    <p class="link-text">Rezultate</p>
                </div>
                <div class="dashboard-navbar-link">
                    <p class="link-text">Clasament</p>
                </div>
                <div class="dashboard-navbar-link">
                    <p class="link-text">Sfaturi</p>
                </div>
            </nav>
            <div class="dashboard-stats">
                <h1 class="dashboard-title">Stats: to be implemented</h1>
            </div>
        </div>
    </div>
</body>
</html>