<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="text/html; charset=UTF-8">
    <title>SQL Tutoring</title>
</head>
<body>
    <article>
        <header>
            <h1>
                SQL Tutoring
            </h1>
            <div role="contentinfo">
                <section typeof="sa:AuthorsList">
                    <h2>Authors</h2>
                    <ul>
                      <li typeof="sa:ContributorRole" property="schema:author">
                        <span typeof="schema:Person">
                          <meta property="schema:givenName" content="Stefan">
                          <meta property="schema:additionalName" content="Cosmin">
                          <meta property="schema:familyName" content="Doaga">
                          <span property="schema:name">Stefan Cosmin Doaga</span>
                        </span>
                      </li>
                      <li typeof="sa:ContributorRole" property="schema:author">
                        <span typeof="schema:Person">
                          <meta property="schema:givenName" content="Razvan">
                          <meta property="schema:additionalName" content="Mihai">
                          <meta property="schema:familyName" content="Boita">
                          <span property="schema:name">Razvan Mihai Boita</span>
                        </span>
                      </li> 
                    </ul>
                  </section>
            </div>
        </header>
    </article>
    <article>
      <h3><strong>1 Introduction</strong></h3>
      <section>
        <h4><em>1.1 Purpose</em>
        </h4>
        <p>Produsul "SQL Tutoring" este un site web destinat învățării utilizatorilor limbajului SQL. Acesta oferă o interfață prin care utilizatorii pot rezolva exerciții practice pentru a-și îmbunătăți cunoștințele și abilitățile în SQL.</p>
        <p>Este important de menționat că "SQL Tutoring" se concentrează exclusiv pe furnizarea de exerciții și instrumente pentru învățarea limbajului SQL și nu include alte subiecte sau materiale de instruire. Acest SRS acoperă întregul sistem și toate subsistemele implicate în oferirea acestui serviciu de instruire online.</p>
      </section>
      
      <section>
        <h4><em>1.2 Document Conventions</em>
        </h4>
        <p>Acest SRS respectă anumite convenții de redactare și formatare pentru a asigura o coerență și o claritate în întreaga sa prezentare. În acest sens, urmează un set de standarde și convenții generale, precum:</p>
        <p>Folosirea unui fișier de stil universal, definit în CSS, care conține variabile și stiluri comune. Aceste variabile sunt apoi utilizate în întregul document pentru a asigura uniformitatea în aspect și format. De exemplu, variabilele sunt folosite pentru a defini prioritățile și alte aspecte semnificative în cadrul documentului.</p>
      </section>

      <section>
        <h4><em>1.3 Intended Audience and Reading Suggestions</em>
        </h4>
        <p>Acest document este destinat celor care doresc să învețe limbajul SQL, inclusiv elevilor, studenților la informatică și celor care doresc să-și îmbunătățească abilitățile în SQL. Pentru elevi și studenți, secțiunile relevante includ introducerea în SQL prin rezolvarea de exercitii și descrierea interfeței utilizatorului pentru rezolvarea exercițiilor.</p>
      </section>
      
      <section>
        <h4><em>1.4 References</em>
        </h4>
        <p>Acest document se concentrează pe specificarea cerințelor software pentru un produs destinat învățării limbajului SQL. În continuare, acestea sunt două referințe importante care au inspirat dezvoltarea și structurarea acestui document. </p>
        <a href="https://www.sqlzoo.net/wiki/SQL_Tutorial">SQL Zoo</a>
        <br>
        <a href="https://developer.mozilla.org/en-US/">MDN Web Docs</a>
      </section>
    </article>
    <hr>
    
    <article>
      <h3><strong>2 Overall Description</strong></h3>
      <section>
        <h4><em>2.1 Product Perspective</em></h4>
        <p>Aplicația web propusă este un produs nou și independent, creat pentru a facilita procesul de învățare a limbajului SQL pentru începători. Aceasta nu face parte dintr-o familie de produse existente și nu înlocuiește alte sisteme existente. În schimb, își propune să ofere o soluție completă și eficientă pentru elevi și alte persoane interesate să-și îmbunătățească cunoștințele în SQL. Aplicația web va opera ca o entitate autonomă, oferind funcționalități de administrare a întrebărilor SQL, de rezolvare a acestora și de gestionare a progresului utilizatorilor. Nu este un component al unui sistem mai mare și nu are interfețe directe cu alte sisteme externe.</p>
      </section>
      <section>
        <h4><em>2.2 Product Functions</em></h4>
        <ul>
          <li>Produsul trebuie să permită administrarea întrebărilor SQL, permițând administratorilor să adauge, editeze și șteargă întrebări din diverse capitole. De asemenea, administratorii ar trebui să poată atribui niveluri de dificultate pentru fiecare întrebare (ușoară, medie, grea).</li>
          <li>Utilizatorii, după înregistrare, ar trebui să poată rezolva întrebările SQL disponibile pe platformă. După răspunsul la un număr de întrebări (20), utilizatorii trebuie să formuleze propria întrebare. Un serviciu web va fi responsabil pentru verificarea corectitudinii răspunsurilor utilizatorilor.</li>
          <li>Exportul și importul de întrebări în formate deschise JSON trebuie să fie acceptate.</li>
          <li>În plus, produsul ar trebui să genereze rapoarte privind clasamentele și statisticile legate de întrebările stocate în baza de date.</li>
        </ul>
      </section>
      <section>
        <h4><em>2.3 Design and Implementation Constraints</em></h4>
        <ul>
          <li><strong>Nefolosirea Framework-urilor</strong>: Dezvoltatorii nu vor putea folosi framework-uri pentru dezvoltarea aplicației. Aceasta implică crearea de soluții personalizate pentru funcționalități precum gestionarea sesiunilor, rutarea URL-urilor și gestionarea bazelor de date.</li>
          <li><strong>Tehnologii Specifice</strong>: Dezvoltarea aplicației se va realiza folosind Node.js pentru partea de backend și PostgreSQL pentru baza de date.</li>
        </ul>
      </section>
    </article>
    <hr>

    <article>
      <h3><strong>3 External Interface Requirements</strong></h3>
      <section>
        <h4><em>3.1 User Interfaces</em></h4>
        <p>Interfața utilizatorului pentru aplicația noastră web de învățare a SQL-ului trebuie să fie intuitivă și ușor de utilizat, pentru a facilita procesul de învățare pentru utilizatori. Aceasta va consta din următoarele componente de software:</p>
        <ul>
          <li><strong>Interfața de Administrare</strong>: O interfață de administrare va permite administratorilor să adauge, să editeze și să șteargă întrebări SQL din diverse capitole. Această interfață va include formulare de introducere a întrebărilor și opțiuni de editare pentru a actualiza informațiile existente. Se va asigura că interfața de administrare respectă principiile de design UX/UI pentru a asigura o experiență de utilizare plăcută și eficientă.</li>
          <li><strong>Interfața Utilizatorului (UI)</strong>: Interfața utilizatorului va permite utilizatorilor înregistrați să acceseze întrebările disponibile și să răspundă la acestea. Aceasta va include ecrane pentru vizualizarea întrebărilor disponibile, răspunsul la întrebări și formularea de întrebări proprii după cum este necesar. Se va asigura că interfața utilizatorului este simplă, curată și ușor de navigat, facilitând astfel procesul de învățare pentru utilizatori.</li>
        </ul>
      </section>
      <section>
        <h4><em>3.2 Software Interfaces</em></h4>
        <ul>
          <li><strong>Bază de Date PostgreSQL</strong>: Aplicația va comunica cu o bază de date PostgreSQL pentru stocarea întrebărilor, a răspunsurilor utilizatorilor și a altor date relevante.</li>
          <li><strong>Node.js</strong>: Node.js va gestiona logica aplicației și va furniza servicii web pentru interacțiunea cu interfața utilizatorului și baza de date.</li>
          <li><strong>API (REST/GraphQL)</strong>: Acest API va permite accesul la întrebările disponibile, rezolvările utilizatorilor și alte date relevante.</li>
          <li><strong>Tehnologii Frontend</strong>: HTML, CSS și JavaScript vor fi utilizate pentru a crea interfața utilizatorului pe partea de frontend.</li>
        </ul>
      </section>
    </article>
    <hr>

    <article>
      <h3><strong>4 System Features</strong></h3>
      <p>Această secțiune prezintă cerințele funcționale ale produsului, organizate în funcție de caracteristicile majore ale sistemului. Aplicația noastră de învățare a limbajului SQL are ca scop facilitarea procesului de învățare pentru începători prin intermediul unei platforme online interactive. Astfel, funcționalitățile sistemului sunt structurate în jurul a două caracteristici principale:</p>
      <section>
        <h4><em>4.1 Administrarea Întrebărilor SQL</em></h4>
        <p>Această caracteristică permite administratorilor să gestioneze întrebările disponibile pe platformă, inclusiv adăugarea, editarea și ștergerea acestora. Administratorii pot, de asemenea, atribui niveluri de dificultate pentru fiecare întrebare, contribuind astfel la adaptarea experienței de învățare la diferitele niveluri de cunoștințe ale utilizatorilor.</p>
      </section>
      <section>
        <h4><em>4.2 Rezolvarea și Formularea de Întrebări</em></h4>
        <p>Utilizatorii înregistrați au posibilitatea de a accesa întrebările disponibile și de a le rezolva. După ce au răspuns la un număr predefinit de întrebări, utilizatorii sunt încurajați să formuleze propriile întrebări, consolidând astfel cunoștințele dobândite și implicându-se activ în procesul de învățare.</p>
      </section>
    </article>
    <hr>

    <article>
      <h3><strong>5 Other Nonfunctional Requirements</strong></h3>

      <section>
        <h4><em>5.1 Performance Requirements</em></h4>
        <ul>
          <li><strong>Timp de Răspuns al Interfeței Utilizatorului</strong>: Interfața utilizatorului trebuie să ofere un timp de răspuns rapid, cu încărcarea paginilor sau a întrebărilor în mai puțin de ~2 secunde.</li>
          <li><strong>Gestionarea concurentei</strong>: Sistemul trebuie să fie capabil să gestioneze concurența a minimum ~100 de utilizatori simultan, fără a afecta performanța.</li>
        </ul>
      </section>
      <section>
        <h4><em>5.2 Safety Requirements</em></h4>
        <ul>
          <li><strong>Protejarea datelor sensibile</strong>: Toate datele sensibile ale utilizatorilor, cum ar fi informațiile de autentificare și răspunsurile la întrebări, trebuie să fie protejate prin criptare și să fie accesibile doar utilizatorilor autorizați.</li>
          <li><strong>Prevenirea atacurilor cibernetice</strong>: Sistemul trebuie să fie protejat împotriva atacurilor de tip Cross Site Scripting sau SQL injection.</li>
        </ul>
      </section>
    </article>
    <hr>
    <article>
      <h3><strong>6 Documentation</strong></h3>

      <p>Această secțiune oferă documentație detaliată despre paginile web.</p>
      <section>
        <h4>Log in</h4>
        <p>Pagina de login este folosită pentru ca utilizatorul să se conecteze la contul acestuia. Email-ul și parola (parola este hash-uită) sunt comparate cu datele din baza de date pentru a verifica credențialele. În cazul în care datele sunt corecte, user-ul primește un cookie și este trimis către pagina principală (index).
          În cazul în care parola sau email-ul sunt greșite, un mesaj de eroare este trimis către client.
        </p>
      </section>
      <section>
        <h4>Sign up</h4>
        <p>
          Pagina de sign-up este destinată creării unui cont, unde user-ul introduce un username, o adresa de email, respectiv o parola. Ulterior introducerii datelor, acesta va primi un email de confirmare, care conclude procesul de înregistrare.
        </p>
      </section>
      <section>
        <h4>Forgot password</h4>
        <p>
          În cazul în care utilizatorul nu își amintește parola, acesta se poate folosi de adresa de email pentru a-și reseta parola. După ce introduce adresa sa de email, primește un mail care îl duce către pagina de resetare a parolei.
        </p>
      </section>
      <section>
        <h4>Navbar</h4>
        <p>Deasupra fiecărei pagini unde este necesară logarea unui user, se va afla o bară de navigare. Pentru elevi, bara de navigare va conține următoarele elemente: menu, quiz, quizzes, progress, logout.
          Pentru administratori, vor exista două elemente în plus: create quiz și verify problems.
        </p>
      </section>
      <section>
        <h4>Menu (index.html)</h4>
        <p>
          Meniul, sau pagina principala, servește drept o introducere pentru utilizator, prezentând sumar funcționalitățile pe care acesta le poate accesa.
        </p>
      </section>
      <section>
        <h4>Create quiz</h4>
        <p>
         Această pagina poate fi acesată de administratori, sau de un utilizator dacă acesta a rezolvat cele 12 întrebări din pagina quiz. Pe partea dreaptă a paginii, sunt datele ce trebuie completate pentru întrebare. O întrebare conține: categorii, dificultate, titlu, descrierea problemei, răspunsul și un sfat(opțional).
         În partea stângă este prezentată structura întrebării în pagină.
        </p>
        <p>
         În partea de stânga jos, sunt două butoane: submit quiz, care va trimite întrebarea în tabela Question, în cazul în care titlul este unic, datele au fost completate și utilizatorul este admin. În cazul în care utilizatorul este elev, întrebarea va fi trimisă spre verificat, unde un admin se va uita și fie o va aproba, fie o va respinge.
         Tot în aceeași zonă, mai există și butonul de import quiz, unde un utilizator va putea pune un fișier .json pentru a completa automat datele din form.
        </p>
        <p>
         În dreapta jos, există un link ce arată un exemplu de json valid.
        </p>

        <p>
          Când un elev dă submit la o întrebare, acesta va fi redirecționat către pagina principală. Administratorul va rămâne pe pagina de creare a întrebării.
        </p>
      </section>
      <section>
        <h4>Quiz</h4>
        <p>
          Pagina de Quiz este destinată utilizatorilor, dar poate fi accesată și de un admin, iar aceasta propune un număr de 12 întrebări, dispuse în ordine crescătoare a dificultății, în tranșe de câte 4(4 Easy, 4 Medium, 4 Hard). O problema ușoară valorează 5 puncte, una medie 8 puncte, iar una dificilă 12 puncte. Însumate, cele 12 probleme valorează 100 puncte.
        </p>
        <p>
          Pagina oferă utilizatorului posibilitatea de a evalua o întrebare, de a scrie un comentariu (respectiv de a avea acces la comentariile altor utilizatori) sau de a primi ajutor în vederea rezolvării printr-un hint.
        </p>
        <p>
          La finalul acestui quiz, utilizatorul poate vedea punctajul final și timpul petrecut în obținerea acestuia, având într-un final opțiunea de a crea o problemă, care, în cazul aprobării(de către un admin), va putea fi rezolvată de ceilalți utilizatori.
        </p>
      </section>
      <section>
        <h4>Quizzes</h4>
        <p>
          În această pagina utilizatorul va putea vedea toate întrebările existente. Ca pagina să fie responsive și să se încarce rapid, tabela de întrebări este încărcată în manieră AJAX.
        </p>
        <p>
          Tabela are ca și coloane următoarele elemente: status (dacă utilizatorul a rezolvat întrebarea, un checkmark va apărea), titlul întrebării, rating și dificultatea. Fiecare întrebare are un link pentru rezolvarea acesteia.
          Pentru a asigura că tabela se încarcă rapid, se listează întrebările în grupe de 10, iar jos avem butoane de next și de previous pentru a ne deplasa la următoarea grupă de 10 întrebări.
        </p>
        <p>
          Putem filtra întrebările fie prin dificultatea ei (easy, medium, hard), fie prin categoria acesteia. Mai există și opțiunea de a ordona întrebările în funcție de id, titlu, rating și dificultate.
          Nu în ultimul rând, pagina are și un search bar pentru a găsi întrebarea dorită.
        </p>
        <p>
          Administratorul va avea acces la două butoane în plus: delete și update question. Aceste butoane vor fi vizibile pentru fiecare întrebare.
        </p>
        
      </section>
      <section>
        <h4>Question</h4>
        <p>
          Această pagină este similară cu pagina quiz, doar că aici utilizatorul va rezolva problema pe care a ales-o. Când a verificat soluția este corectă, acesta poate să dea submit, astfel problema va fi marcată ca rezolvată de utilizator.
        </p>
      </section>
      <section>
        <h4>Update question</h4>
        <p>
          Această pagină este identică cu pagina de create quiz, doar că datele sunt deja populate cu întrebarea selectată, iar în loc de butonul de submit ce va crea întrebarea, acest buton doar va updata întrebarea.
          Doar administratorii au acces la funcționalitatea de update.
        </p>
      </section>
      <section>
        <h4>Delete question</h4>
        <p>
          Nu există o pagină separată pentru delete, în schimb va exista un buton de delete pentru fiecare întrebare în secțiunea de întrebări (quizzes). Când este apăsată, va fi întrebat din nou utilizatorul dacă dorește să șteargă întrebarea.
          Doar administratorii au acces la funcționalitatea de delete.
        </p>
      </section>
      <section>
        <h4>Progress</h4>
        <p>
          În secțiunea de progres, sunt dispuse mai multe statistici ale utilizatorului. Această pagină este împărțită în trei: statistici ale utilizatorului, statistici despre dificultatea problemelor rezolvate și lista de probleme rezolvate.
        </p>
        <p>
          În stânga sus, sunt mai multe informații despre user, precum: numele, rank-ul și high-score-ul acestuia. Rank-ul este calculat prin numărul de probleme rezolvate, dacă un utilizator are mai multe probleme rezolvate, rank-ul este mai bun. În cazul în care doi utilizatori au același număr de probleme, se va face departajarea la high-score. High-score-ul este score-ul cel mai mare luat la un quiz.
          Tot aici, se mai regăsește și un link spre leaderboard, unde se regăsesc primii 10 useri cu cel mai mare rank. 
        </p>
        <p>
          În dreapta sus, sunt prezentate statisticile pentru problemele rezolvate: câte probleme a rezolvat, dar și câte probleme de dificultate diferită a rezolvat.
        </p>
        <p>
          Jos, se află întrebările utilizatorului pe care le-a rezolvat, ordonate în funcție de data rezolvării.
        </p>
      </section>
      <section>
        <h4>Leaderboard</h4>
        <p>
          În această pagină sunt primii 10 utilizatori cu cel mai mare rank. Sunt afișate numele, problemele rezolvate și punctajul maxim luat la quiz.
        </p>
      </section>
      <section>
        <h4>Verify problems</h4>
        <p>
          Pentru a evita apariția unor probleme incorecte din punct de vedere sintactic, sau greșite din punct de vedere logic, problemele create de utilizatori după terminarea quiz-ului sunt trimise într-o zonă de tranzit, de unde pot fi analizate de admini. Aceștia pot fie să aprobe problemele (caz în care acestea devin vizibile pentru toți utilizatorii), fie să le refuze.
        </p>
      </section>
      <section>
        <h4>Log out</h4>
        <p>
          Ultima iconiță de la navbar reprezintă delogarea. Aceasta șterge cookie-ul de pe partea clientului, dar și de pe partea serverului.
        </p>
      </section>
      
    </article>
</body>
</html>