<!-- Author: Stefan -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON Format</title>
</head>
<body>
    <header>
        <h1>JSON Format</h1>
    </header>
    <main>
        <p>{</p>
        <p style="margin-left: 2vw;">"quizz_title": "Select employees name where department is Finance order by salary descending",</p>
        <p style="margin-left: 2vw">"difficulty": "easy",</p>
        <p style="margin-left: 2vw;">"category": ["SELECT", "order by"],</p>
        <p style="margin-left: 2vw;">"answer": "SELECT employee_name FROM employees WHERE department = 'Finance' ORDER BY salary DESC;"</p>
        <p>}</p>
    </main>
</body>
</html>