<!-- Author: Stefan -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
    <link rel="icon" href="../img/database.png" type="image/x-icon">
    <title>SQL Tutoring</title>
</head>
<body>
    <div id="navbar"></div>
    <main class="mainpage-content">
        <div class="title-side">
            <h1 class="welcome-title">Welcome to <span class="actual-title">SQL Tutoring</span></h1>
            <p class="extra-info"><span class="desktop-icon">🖥️</span> Learn SQL : Fast and easy <span class="desktop-icon">🖥️</span></p>
        </div>
        <h3 class="pre-title">This is a small guide for using <span class="actual-title">SqlTutoring</span>:</h3>
        <div class="screenshots">
            <div class="screenshot">
                <h2 class="ss-index">1.</h2>
                <img src="../img/createAcc.png" alt="" class="ss-content">
                <div class="ss-extra-info">
                    <h4>First of all, you will need to create an account. After that, you are free to use everything we offer!</h4>
                    <button class="card-btn">Login / Signup</button>
                </div>
            </div>
            <div class="screenshot">
                <h2 class="ss-index">2.</h2>
                <img src="../img/select.png" alt="" class="ss-content">
                <div class="ss-extra-info">
                    <h4>You can then choose to either take a quiz, browse through our exercises or visualize your history with us!</h4>
                    <button class="card-btn">Take a quiz</button>
                    <button class="card-btn">View problems</button>
                    <button class="card-btn">Go to dashboard</button>
                </div>
            </div>
            <div class="screenshot">
                <h2 class="ss-index">3.</h2>
                <img src="../img/review.png" alt="" class="ss-content">
                <div class="ss-extra-info">
                    <h4>After using our app, you can share your opinion with us, so we can improve!</h4>
                    <button class="card-btn">Take me there</button>
                </div>
            </div>
            <div class="screenshot">
                <h2 class="ss-index">4.</h2>
                <img src="../img/update.png" alt="" class="ss-content">
                <div class="ss-extra-info">
                    <h4>We hope you liked what we have to offer!</h4>
                    <!-- <button class="card-btn">Take me there</button> -->
                </div>
            </div>
        </div>

    <footer>
        <p class="authors">©️ This project was made by <span class="author-name">Boita Razvan</span> & <span class="author-name">Doaga Stefan</span></p>
        <div class="links"></div>
    </footer>
    </main>
    <script src="../js/navbar.js"></script>
    <script src="../js/main.js"></script>

</body>
</html>