<!-- Author: Stefan -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
    <link rel="icon" href="../img/database.png" type="image/x-icon">
    <title>SQL Tutoring</title>
</head>
<body>
    <div id="navbar"></div>
    <main>
        <h1>SQL Tutoring</h1>
    </main>
    <script src="../js/navbar.js"></script>
    <script src="../js/main.js"></script>

</body>
</html>