<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../frontend/css/quiz.css">
    <link rel="stylesheet" href="../frontend/css/menu.css" type="text/css">
    <link rel="stylesheet" href="../css/navbar.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/theme/material.min.css">
    <title>Quizz</title>
</head>
<body>
    <header>
        <nav id="navigation-bar">
            <div id="navbar"></div>
        </nav>
    </header>
    <main class="whole-container">
        <div class="left-container">
            <div class="top-side">
                <p class="question-index"><em>Question</em> <span class="sharp-number">1</span> of <span class="sharp-number">12</span></p>
                <div class="votes">
                    <ion-icon name="thumbs-up-sharp" class="thumbs-up"></ion-icon>
                    <ion-icon name="thumbs-down-sharp" class="thumbs-down"></ion-icon>
                </div>
            </div>
            <div class="question-side">
                <h4 class="question-content"></h4>
                <div class="table-description">
                    <p id="table-description-content"></p>
                </div>
            </div>
            <div class="bottom-side">
                <button class="button-submit" role="button">Submit & next</button>
            </div>
        </div>
        <div class="right-container">
            <div class="top-side">
                <p class="mini-title question-index">SQL Tutoring</p>
                <div class="helpers">
                    <ion-icon name="help-circle"></ion-icon>
                </div>
            </div>
            <textarea id="sql-editor"></textarea>
            <div class="db-engine">
                <div class="engine-description">
                    <p class="db-engine-title">Database Engine </p>
                    <p class="db-engine-value">PostgreSQL</p>
                </div>
                <p class="question-status">Status: <span class="status">Waiting...</span></p>
            </div>
            <div class="run-button-wrapper">
                <button class="button-41 run-button" role="button">
                    <p>Run</p>
                    <ion-icon name="hammer" class="builder"></ion-icon>
                </button>
            </div>

            <div class="console">
                <p>The results of your query will appear here!</p>
            </div>
        </div>
        
    </main>
    <script src="../js/quiz.js"></script>
    <script src="../js/navbar.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.0/mode/sql/sql.min.js"></script>
</body>
</html>
