<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/quizFinish.css" type="text/css">
</head>
<body>
    <div class="main-wrapper">
        <div class="main-info">
            <h1 class="score-result">Congratulations 🙋! Your score is <span class="sharp-number red-color"></span></h1>
            <h2 class="time-spent">You spent <span class="sharp-number green-color"></span> taking this quiz!</h2>
        </div>
        <div class="btns-wrapper">
            <button class="finish-btn create-quiz">Create quiz</button>
            <button class="finish-btn go-home">Take me home</button>
        </div>
    </div>
    <script src="../js/quizFinish.js"></script>
</body>
</html>