<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/logIn.css" type="text/css">
    <title>Sign Up</title>
</head>
<body>
    <main class="container">
        <div class="content">
            <div class="logo">
                <img src="../img/liliac.png" alt="" class="logo-img">
            </div>
            <div class="fields">
                <header class="main-title">Join SQL Tutoring!</header>
                <form id="signup-form" class="form-fields">
                    <div class="form-group">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group" id="password-field">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group" id="confirm-password-field">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password" required>
                    </div>
                    <button type="submit" class="submit-button" style="margin-bottom: .25rem;">Sign up</button>
                    <div class="bottom-link-wrapper">
                        <ion-icon name="return-down-forward-outline"></ion-icon>
                        <a href="/login" class="bottom-link">Already got an account?</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- <script type="module" src="../js/ButtonHandler.js"></script> -->
    <script type="module">
        import ButtonHandler from '../js/ButtonHandler.js'
        document.getElementById('signup-form').addEventListener('submit', ButtonHandler.signupSubmit);
    </script>
</body>
</html>
