    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../frontend/css/menu.css" type="text/css">
        <link rel="stylesheet" href="../css/navbar.css" type="text/css">
        <link rel="stylesheet" href="../css/verifyProblems.css" type="text/css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav id="navigation-bar">
                <div id="navbar"></div>
            </nav>
        </header>
        <main class="pending-main">
            <h2 class="vproblems-title">Pending problems</h2>            
        </main>
        <script src="../js/navbar.js"></script>
        <script src="../js/verifyProblems.js"></script>
    </body>
    </html>