<!-- Author: Stefan -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css" type="text/css">
    {{!-- <link rel="icon" href="../img/database.png" type="image/x-icon"> --}}
    <title>SQL Tutoring</title>
</head>
<body>
    <header>
        <nav id="navigation-bar">
            <!--CREATE SQL QUERY-->
            <div class="navigation-button-div"><a class="navigation-button" href="quizz">Quizz</a></div>
            <div class="navigation-button-div"><a class="navigation-button" href="dashboard">Dashboard</a></div>
        </nav>
        <br>
        <h1>SQL Tutoring</h1>
    </header>
    <main>
        <h2></h2>
    </main>
    {{!-- <script src="../js/main.js"></script> --}}
</body>
</html>